{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $brewExists := lookPath "brew" -}}

[data]
  email = {{ $email | quote }}
  hasHomebrew = {{ $brewExists | not | not }}
  installCoreDevelopmentPackages = true
  installCloudAndInfrastructurePackages = true
  installDataAndDatabasePackages = true
  installSystemAndNetworkPackages = true
  installMediaAndDocumentationPackages = true
  installAppStorePackages = false
