# ignore everything except this file
/*
!/.gitignore

# explicit ignores
/.gitconfig.local
/.zshenv

### DONT IGNORE THE FOLLOWING ###

# dotfiles are largely centralized to XDG_CONFIG_HOME
!/.config/

# except for documentation
!/.github/

# and the following miscellaneous files that cant be centralized:
!/.gitsubmodules
!/.editorconfig

