#!/bin/bash

set -euo pipefail

# This script installs VSCode extensions from the vscode-extensions.yaml file

{{ if eq .installType "full" -}}
echo "[Installing] Installing VSCode extensions..."

# Load Homebrew environment variables only if not already loaded
if ! command -v brew &>/dev/null; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi

installed_extensions=$(code --list-extensions | tr '[:upper:]' '[:lower:]')

{{ range .vscode_extensions -}}
ext_lower=$(echo "{{ . }}" tr '[:upper:]' '[:lower:]')
if ! echo "$installed_extensions" | grep -q "^${ext_lower}$"; then
    echo "Installing extension: {{ . }}"
    code --force --install-extension {{ . }}
else
    echo "Extension already installed: {{ . }}"
fi
{{ end -}}
{{ end -}}
