#!/bin/bash

set -eou pipefail

{{ if eq .installType "full" -}}
echo "[Installing] Installing krew plugins..."

# Load Homebrew environment variables if not already loaded
if ! command -v brew &>/dev/null; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi

{{ range .krew_plugins -}}
echo "[Installing] {{ .plugin }}"
kubectl krew install "{{ .plugin }}"
{{ end -}}
{{ end -}}
