[core]
    editor = vim
    excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
    pager = delta

{{ if .gitUserName -}}
[user]
    name = {{ .gitUserName }}
    {{ if .gitUserEmail }}email = {{ .gitUserEmail }}{{ end }}
{{ end -}}

[init]
    defaultBranch = main

[pull]
    rebase = true  # Rebase branches on pull instead of merge

[push]
    default = current  # Push the current branch to a branch of the same name

[color]
    ui = auto  # Enable colored output

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    unstage = reset HEAD --
    last = log -1 HEAD
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

    # Review incoming changes using Meld in directory mode
    # Example: git review main..origin/main
    review = difftool -d -t meld

[merge]
    conflictstyle = diff3  # Show the original text in conflicts

[help]
    autocorrect = 1  # Automatically correct and execute mistyped commands

[credential]
    helper = cache --timeout=3600  # Cache credentials for 1 hour

[interactive]
    diffFilter = delta --color-only

[diff]
    tool = meld

[difftool]
    prompt = false

[difftool "meld"]
    cmd = meld --label=\"LOCAL:$BASE\" \"$LOCAL\" --label=\"REMOTE:$BASE\" \"$REMOTE\"
